<!DOCTYPE html>
<html>
<head>
   
</head>
<body>
            @RenderBody()     
    @*@ <div class="div-footer">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </div>*@
    @*@<footer style=" background-color: forestgreen;">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
