

@model IEnumerable<Contramcamlamroi.Models.OrderPro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/ViewPage1.cshtml";
}

<h2>Danh sách đơn hàng</h2>

<p>
    @Html.ActionLink("Khởi tạo đơn hàng mới", "Create")
</p>
<table class="table table-bordered ">
    <tr>
        <th>
            Thời gian
        </th>
        <th>
            Mã KH
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
            Tên KH
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDCus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressDeliverry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.NameCus)
            </td>
            <td>
                @Html.ActionLink("Sửa", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Chi tiết", "Details", new { id = item.ID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
